:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --link-color: #ffffff;
  --primaary-bg-color: #f5f4fa;
}
body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
/*новигация*/
.header {
  background-color: #ffffff;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
  color: var(--primary-text-color);
}
.site-nav {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav.current {
  color: var(--accent-color);
  text-decoration: none;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.address {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.address:hover,
.address:focus {
  color: var(--accent-color);
}
.heading {
  background-color: #2f303a;
}
.heading-title {
  color: var(--link-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}
.sction-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/*описание*/
.section-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/*чем занимаемся*/
.secttion-heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16x;
  text-align: center;
}
/*команда*/
.team {
  background-color: #f5f4fa;
}
.team-card {
  background-color: var(--link-color);
}
.team-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-subtitle {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/*подвал*/
.footer {
  background-color: #2f303a;
}
.accent-too {
  color: var(--link-color);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.address-text {
  color: var(--link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-link {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
/*кнопки*/
.button {
  color: var(--primary-text-color);
  background-color: var(--primaary-bg-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border-radius: 4px;
  padding: 6px 22px;
}
.button:hover {
  color: var(--link-color);
  background-color: var(--accent-color);
}
.button-primary {
  color: var(--link-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;

  border-radius: 4px;
  padding: 10px 32px;
}
/*карточки*/
.card {
  background-color: var(--link-color);
}
.card-title {
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.card-subtitle {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
